<!DOCTYPE html>
<html>
	<head>
		<title>SampleShare - Sharing Samples Simply</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/favicon.ico.ico" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-viewport.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/playFile.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../static/js/main.js"></script>
	</head>
	
	<body>
		<!-- Wrapper-->
		<div id="wrapper">
			<!-- Nav -->
			<nav id="nav">
				<a href="#home" class="icon fa-home active"><span>Home</span></a>
				<a href="#about" class="icon fa-info-circle"><span>About</span></a>
				<a href="#samples" class="icon fa-music"><span>Find</span></a>
				<a href="#upload" class="icon fa-upload"><span>Upload</span></a>
				<a href="#account" class="icon fa-user"><span>Account</span></a>
			</nav>
			
			<!-- Main -->
			<div id="main">
				<!-- Home -->
				<article id="home" class="panel">
					<header>
						<h1> OceanShare </h1>
						<p> Free Samples. For You. All The Time. </p>
					</header>
					
					<section>
						<h2> Share Your Samples </h2>
						<p> Upload your samples for the world to hear </p>
						<a href="#upload" class="button jumplink">Upload Samples</a>
					</section>
					
					<section>
						<h2> Find Samples </h2>
						<p> Search our database of user-generated samples </p>
						<a href="#samples" class="button jumplink">Browse Samples</a>
				</article>
				
				<!-- About -->
				<article id="about" class="panel">
					<article>
						<header>
							<h1> OceanShare </h1>
							<p> Free Samples. For You. All The Time. </p>
						</header>
						
						<section>
							<h2> About OceanShare </h2>
							<p> This site was built for the Local Hack Day at CU Boulder in less than eight hours by a group of (previously) random strangers: </p>
							<ul>
								<li> Alex Goodwin </li>
								<li> Jared Jolton </li>
								<li> Philip Chow </li>
								<li> Jessica Masson </li>
								<li> Karthik Kannan </li>
								<li> Henna [Last name?] </li>
							</ul>
							<p> The goal is to create a service that allows people from all over the Internet to share music samples. Think of it as a cross between FreeSound and Splice - amazingly awesome. </p>
							<p> Template taken from HTML5up.net </p>
						</section>
					</article>
				</article>
				
				<!-- Samples -->
				<article id="samples" class="panel">
					<header>
						<h2>Samples</h2>
					</header>
					
					<section>
						{% include 'browse.html' %}
					</section>
				</article>

				<!-- Upload Samples -->
				<article id="upload" class="panel">
					{% include 'upload.html' %}
				</article>
				
				<!-- User Account -->
				<article id="account" class="panel">
				</article>
				
			</div>
			
			<!-- Footer -->
			<div id="footer">
				<ul class="copyright">
					<li>&copy; OceanShare 2015</li>
				</ul>
			</div>
		</div>		
	</body>
</html>